
<span> <app-comment-list [comments] = "comments" [topicId]="topicId" [subforumId]="subforumId"></app-comment-list></span>


<div *ngIf = "isLoggedIn()">

    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
        <tr>
            <td>
            <label for="Text">Text</label>
            <input type="text" name="Text" ngModel>
            </td>
            
            <td>
                <button>Send comment</button>
            </td>
        </tr>
                    
    </form>
</div>


   