<div>

    <tr>
        <td>
        <td>RecipientUsername:</td>
        <td><select id='recipient'><option  *ngFor="let user of appusers" 
            
        [value]="user.UserName">{{user.UserName}}</option>
            </select>
        </td>
        <td>
        <label for="Content of meesage">Content of meesage:</label>
        <input type="text" [(ngModel)] = "messageText">
        </td>
        <td>
        <button (click)="sendMessage()">Send message</button>
        </td>
    </tr>
      
</div>