<li *ngFor="let message of messages">
    <span>{{message.Id}}</span>
    <span>{{message.SenderUsername}}</span>
    <span>{{message.RecipientUsername}}</span>
    <span>{{message.Content}}</span>
    <span>{{message.Seen}}</span>
  </li>

  <div>
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
    <tr>
        <td>
            <label for="Id">Id</label>
            <input type="text" name="Id" ngModel>
            </td>
            <td>
            <label for="SenderUsername">SenderUsername</label>
            <input type="text" name="SenderUsername" ngModel>
             </td>
            <td>
            <label for="RecipientUsername">RecipientUsername</label>
            <input type="text" name="RecipientUsername" ngModel>
            </td>
            <td>
            <label for="Content">Content</label>
            <input type="text" name="Content" ngModel>
             </td>
            <td>
                <input type="submit" >
            </td>
    </tr>

    

</form>
</div>

<div>
    <form #d="ngForm" (ngSubmit)="edit(d.value, d)">
      <tr>
          <td>
              <label for="Id">Id</label>
              <input type="text" name="Id" ngModel>
              </td>
              <td>
              <label for="SenderUsername">SenderUsername</label>
              <input type="text" name="SenderUsername" ngModel>
               </td>
              <td>
              <label for="RecipientUsername">RecipientUsername</label>
              <input type="text" name="RecipientUsername" ngModel>
              </td>
              <td>
              <label for="Content">Content</label>
              <input type="text" name="Content" ngModel>
               </td>
              <td>
                  <input type="submit" name="edit" >
              </td>
      </tr>
  
      
  
  </form>
  </div>

  <div>
      <form #x="ngForm" (ngSubmit)="delete(x.value, x)">
        <tr>
            <td>
                <label for="Id">Id</label>
                <input type="text" name="Id" ngModel>
                </td>
                <td>
                <label for="SenderUsername">SenderUsername</label>
                <input type="text" name="SenderUsername" ngModel>
                 </td>
                <td>
                <label for="RecipientUsername">RecipientUsername</label>
                <input type="text" name="RecipientUsername" ngModel>
                </td>
                <td>
                <label for="Content">Content</label>
                <input type="text" name="Content" ngModel>
                 </td>
                <td>
                    <input type="submit" name="delete">
                </td>
        </tr>
    
        
    
    </form>
    </div>