<li *ngFor="let user of appUsers">
        <span>{{user.Id}}</span>
        <span>{{user.UserName}}</span>
        <span>{{user.Email}}</span>
        <span>{{user.Password}}</span>
        <span>{{user.Role}}</span>
        <span>{{user.Name}}</span>
        <span>{{user.Surname}}</span>
        <span>{{user.ContactPhone}}</span>
        <span>{{user.RegistrationDate}}</span>
      </li>


<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
        <tr>
            <td>
                <label for="Id">Id</label>
                <input type="text" name="Id" ngModel>
                </td>
                <td>
                <label for="UserName">UserName</label>
                <input type="text" name="UserName" ngModel>
                </td>
                <td>
                <label for="Email">Email</label>
                <input type="text" name="Email" ngModel>
                </td>
                <td>
                <label for="Password">Password</label>
                <input type="text" name="Password" ngModel>
                </td>
                <td>
                <label for="Role">Role</label>
                <input type="text" name="Role" ngModel>
                </td>
                <td>
                <label for="Name">Name</label>
                <input type="text" name="Name" ngModel>
                </td>
                <td>
                <label for="Surname">Surname</label>
                <input type="text" name="Surname" ngModel>
                </td>
                <td>
                <label for="ContactPhone">ContactPhone</label>
                <input type="text" name="ContactPhone" ngModel>
                </td>
                <td>
                    <input type="submit" >
                </td>
        </tr>
    
        
    
    </form>
    </div>

<div>
<form #x="ngForm" (ngSubmit)="edit(x.value, x)">
    <tr>
        <td>
            <label for="Id">Id</label>
            <input type="text" name="Id" ngModel>
            </td>
            <td>
            <label for="UserName">UserName</label>
            <input type="text" name="UserName" ngModel>
            </td>
            <td>
            <label for="Email">Email</label>
            <input type="text" name="Email" ngModel>
            </td>
            <td>
            <label for="Password">Password</label>
            <input type="text" name="Password" ngModel>
            </td>
            <td>
            <label for="Role">Role</label>
            <input type="text" name="Role" ngModel>
            </td>
            <td>
            <label for="Name">Name</label>
            <input type="text" name="Name" ngModel>
            </td>
            <td>
            <label for="Surname">Surname</label>
            <input type="text" name="Surname" ngModel>
            </td>
            <td>
            <label for="ContactPhone">ContactPhone</label>
            <input type="text" name="ContactPhone" ngModel>
            </td>
            <td>
                <input type="submit" >
            </td>
    </tr>

    

</form>
</div>

<div>
<form #d="ngForm" (ngSubmit)="delete(d.value, d)">
    <tr>
        <td>
            <label for="Id">Id</label>
            <input type="text" name="Id" ngModel>
            </td>
            <td>
                <input type="submit" >
            </td>
    </tr>

    

</form>
</div>