<span>{{complaint.Text}}</span>
<span>{{complaint.EntityAuthor}}</span>
<span>{{complaint.AuthorUsername}}</span>

<div>
    <button (click) = "deleteBool()">Delete</button>
    <button (click) = "warningBool()">Warning</button>
    <button (click) = "refuseBool()">Refuse</button>
</div>


<div *ngIf="deleteComplaint">
    <tr>
        <td>Message for author:</td>
        <td>
        <input type="text" [(ngModel)] = "textForAuthor">
        </td>
        
        <td>Message for complainer:</td>
        <td>
        <input type="text" [(ngModel)] = "textForComplainer">
        </td>
        <td>
            <button (click)="delete()">Submit</button>
        </td>
    </tr>
</div>

<div *ngIf="warningComplaint">
    <tr>
        <td>Message for author:</td>
        <td>
        <input type="text" [(ngModel)] = "textForAuthor">
        </td>
        
        <td>Message for complainer:</td>
        <td>
        <input type="text" [(ngModel)] = "textForComplainer">
        </td>
        <td>
            <button (click)="warn()">Submit</button>
        </td>
    </tr>
</div>

<div *ngIf="refuseComplaint">
    <tr>
        <td>Message for complainer:</td>
        <td>
        <input type="text" [(ngModel)] = "textForComplainer">
        </td>
        <td>
            <button (click)="refuse()">Submit</button>
        </td>
    </tr>
</div>