<li *ngFor="let complaint of complaints;let i = index">
    <span>{{complaint.Id}}</span>
    <span>{{complaint.Text}}</span>
    <span>{{complaint.CreationDate}}</span>
    <span>{{entityType[complaint.EntityType]}}</span>
    <span>{{complaint.EntityId}}</span>
    <span>{{complaint.EntityAuthor}}</span>
    <span>{{complaint.AuthorUsername}}</span>
    <div>
      <input type="radio" name = {{complaint.Id}}  (click) = "getComplaint(complaint,'Delete')" >Delete 
      <input type="radio" name = {{complaint.Id}}  (click) = "getComplaint(complaint,'Warning')">Warning
      <input type="radio" name = {{complaint.Id}}  (click) = "getComplaint(complaint,'Refuse')">Refuse
    </div>

    <div *ngIf="complaintType == 'Delete' && complaintId == complaint.Id">
      <tr>
          <td>Message for author:</td>
          <td>
          <input type="text" [(ngModel)] = "textForAuthor">
          </td>
          
          <td>Message for complainer:</td>
          <td>
          <input type="text" [(ngModel)] = "textForComplainer">
          </td>
          <td>
              <button (click)="delete()">Submit</button>
          </td>
      </tr>
  </div>
  
  <div *ngIf="complaintType == 'Warning' && complaintId == complaint.Id">
      <tr>
          <td>Message for author:</td>
          <td>
          <input type="text" [(ngModel)] = "textForAuthor">
          </td>
          
          <td>Message for complainer:</td>
          <td>
          <input type="text" [(ngModel)] = "textForComplainer">
          </td>
          <td>
              <button (click)="warn()">Submit</button>
          </td>
      </tr>
  </div>
  
  <div *ngIf="complaintType == 'Refuse' && complaintId == complaint.Id">
      <tr>
          <td>Message for complainer:</td>
          <td>
          <input type="text" [(ngModel)] = "textForComplainer">
          </td>
          <td>
              <button (click)="refuse()">Submit</button>
          </td>
      </tr>
  </div>
  </li>

 