
<li *ngFor="let topic of topics">
    <span>{{topic.Id}}</span>
    <span>{{topic.SubforumId}}</span>
    <a [attr.href]="'http://localhost:4200/topic/' + topic.Id" >{{topic.Name}}</a>
    <span>{{topic.TopicType}}</span>
    <span>{{topic.AuthorUsername}}</span>
    <span>{{topic.Content}}</span>
    <span>{{topic.CreationDate}}</span>
    <span>{{topic.LikesNum}}</span>
    <span>{{topic.DislikesNum}}</span>
    <div *ngIf = "isLoggedIn()">
    <button [disabled] = "voted(topic)"   (click)="Like(topic)">Like</button>
    <button [disabled] = "voted(topic)"   (click)="Dislike(topic)">Dislike</button>
    </div>
    <span><complaint-send [complaintType] = "complaintType" [complaningTo] = "topic" [entityType] = "entityType"></complaint-send></span>
  </li>