
<li *ngFor="let topic of topics; let i = index;" (click)="routing(topic)">
    <span>{{topic.Id}}</span>
    <span>{{topic.SubforumId}}</span>
    <span>{{topic.Name}}</span>
    <span>{{topic.TopicType}}</span>
    <span>{{topic.AuthorUsername}}</span>
    <span>{{topic.Content}}</span>
    <span>{{topic.CreationDate}}</span>
    <span>{{topic.LikesNum}}</span>
    <span>{{topic.DislikesNum}}</span>
    <div *ngIf = "isLoggedIn()">
    <button [disabled] = "voted(topic)"   (click)="Like(topic)">Like</button>
    <button [disabled] = "voted(topic)"   (click)="Dislike(topic)">Dislike</button>
    </div>
    <span><complaint-send [complaintType] = "complaintType" [complaningTo] = "topic" [entityType] = "entityType"></complaint-send></span>
  </li>


  <div *ngIf = "isLoggedIn()">

      <label>Name of topic:</label>
        <input type="text" [(ngModel)] = "nameOfTopic">
      <select id="topicType">
          <option value="0">Text</option>
          <option value="1">Picture</option>
          <option value="2">Link</option>
        </select>
  </div>
