
<div>
    
<li *ngFor="let subforum of subforums">
    <span>{{subforum.Id}}</span>
    <span>{{subforum.Name}}</span>
    <span>{{subforum.Description}}</span>
    <span>{{subforum.IconURL}}</span>
    <span>{{subforum.Rules}}</span>
    <span>{{subforum.LeadModeratorUsername}}</span>
    <button (click)="routing(subforum)">Open</button>
    <span><complaint-send [complaintType] = "complaintType" [complaningTo] = "subforum" [entityType] = "entityType"></complaint-send></span>
    <div *ngIf="isCreatorOrAdmin(subforum.LeadModeratorUsername)">
        <button (click) = "deleteSubforum(subforum.Id)">Delete</button>
    </div>
  </li>
</div>



<div *ngIf = "isLoggedIn() && authRole()" >
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)">
      <tr>
              <td>
              <label for="Name">Name</label>
              <input type="text" name="Name" ngModel>
               </td>
              <td>
              <label for="Description">Description</label>
              <input type="text" name="Description" ngModel>
              </td>
              <td>
              <label for="IconURL">IconURL</label>
              <input type="text" name="IconURL" ngModel>
               </td>
               <td>
                <label for="Rules">Rules</label>
                <input type="text" name="Rules" ngModel>
                </td>
              <td>
                  <input type="submit" >
              </td>
      </tr> 
    </form>
</div>